body{
    font-family: Arial;
    background-color: rgb(26, 153, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box{
    background: rgb(18, 18, 18);
    padding: 50px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
border-color: black;

}
input{
    width: 100%;
    padding: 10px;
    background-color: rgb(232, 191, 191);
    color: rgb(23, 22, 22);
    border: none;
    cursor: pointer;
    border-color: black;
}
button:hover{
    background-color:rgb(31, 210, 210);
}